@import url(@assets/fonts/fonts.css);
:root {
  /*--bg-color: #111111;
  --text-color: #ffffff;*/
  --bg-main-color: black;
  --main-color: white;

  --primary-color: #7D48F0;
  --dark-color: #130D1B;

  --primary-gradient: linear-gradient(270deg, #281453, #7D48F0);

  --bottom-gradient: linear-gradient(270deg, #7D48F0 0%, #281453 50%, transparent 100%);

  --gray-color: #111111;

  --primary-font-family: 'Montserrat', sans-serif;
}
